

.header {
    background: green;
    color: yellow;
    font-weight: 500;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

.header-h3 {
    background: peru;
    color: blueviolet;
    font-weight: 500;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 5px 10px #777777;
}

.paragraph {
    background: green;
    color: whitesmoke;
    font-weight: 500;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 5px 10px #777777;
}